
<form class="smart-form">

    <fieldset>

        <div class="row">

            <section class="col col-6">
                <label>Name:</label>
                <div eb-smartselect
                     eb-data="fields()"
                     eb-model="options.schema.name"
                     data-class="checkbox state-default">
                </div>
                <span class="help-block">Specify the field to be used as the label for checkbox items</span>
            </section>

        </div>

    </fieldset>


</form>